body{
    padding: 100px;
}

.submit-area{
    margin-top:50px;
    padding:40px;
    border-radius:20px;
    box-shadow:5px 5px 10px gray
}

#transaction-area{
    display:none;
}
.Deposite{
 background-color:slateblue;
}
.withdraw{
    background-color:orange

}
.balance{
    background-color:lightcoral

}
.status{
    margin:0 20px;
    color:white;
    padding: 20px;
    border-radius: 20px;
}